/*-------------------- FONTS -------------------*/
@font-face {
  font-family: Montserrat-Bold;
  src: url('Ressources/fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Montserrat-Light;
  src: url('Ressources/fonts/montserrat/Montserrat-Light.ttf');
}

/* ------ GENERAL ------ */

html, body {
  background-color: #fafafa;
}

.App {
  display: flex;
  justify-content: center;
}


/* ------ Mansory ------- */

#root {
  height: fit-content;
}

.masonry {
  margin: 1.5em auto;
  max-width: 90%;
  column-gap: 1em;
  column-count: 2;
}

/* The Masonry Brick */
.masonry > .item {
  background: #fff;
  padding: 1em;
  margin: 0 0 1.5em;
  width: 90%;
  display: inline-block;
}

.card{
  background-color: #fafafa;
  width: auto;
  margin: 25px;
  height: fit-content;
  min-height: fit-content;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(38, 42, 51, 0.1);
  border-radius: 20px;
  border: 1px solid #fff;
  z-index: 100;
}

.title {
  text-align: center;
  font-family: Montserrat-Bold, serif;
}

/* ------- VIDEO ------- */

.video-container {
  display: flex;
  justify-content: center;
}

.Video {
  width: 70%;
  height: fit-content;
}

/* ------- CHAT ------- */

.chat {
  position: relative;
  padding: 10px;
  height: auto;
}

.chat-header {
  text-align: center;
  font-family: Montserrat-Bold, serif;
}

.chat-messages {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100vh;
  height: 100vh;
}

.chat-messages > .chat-message {
  max-width: 70%;
  display: block;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.chat-messages .extern {
  text-align: left;
  margin-right: auto;
  background: #001f3f;
  color: white;
}

.chat-messages .self {
  text-align: right;
  margin-left: auto;
  background: #DDD
}

.chat-message > .header {
  display: flex;
  justify-content: space-between;
  font-family: Montserrat-Bold, serif;
  margin-bottom: 10px;
}

.chat-message > .header > .name {
  text-align: left;
}

.chat-message > .header > .when {
  text-align: right;
}

.chat-message > .header > .texte {
  font-family: Montserrat-Light, serif;
}

.chat-footer > .form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.chat-footer > .form input {
  padding: 10px 20px;
  display: block;
  width: 80%;
  outline: 0;
  background-color: whitesmoke;
  border: #001f3f solid 3px;
  border-radius: 50px;
  font-family: Montserrat-Light, serif;
  font-size: medium;
}

.chat-footer > .form > button {
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 50px;
  border: #001f3f solid 3px;
  font-family: Montserrat-Bold;
  margin: 0 3%;
}

.chat-footer > .form > button:hover {
  cursor:pointer;
}

  /* ------- MAP ------- */

.map {
  height: auto;
}

.leaflet-container {
  width: 100%;
  height: 50vh;
  border-radius: 30px;
}

/* ------- CHAPTER ------- */

.list-chapter {
  height: auto;
}

.chapter {
  margin: 5px 0;
  padding: 7px 25px;
  border-radius: 50px;
}

.chapter:hover {
  cursor: pointer;

}

.off:hover {
  background-color: whitesmoke;
}

.on{
  background-color: #001f3f;
  color: white;
  font-family: Montserrat-Bold;
}


/* ------- TAGS ------- */

.tag-zone {
  height: auto;
}

.tags-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
  width: fit-content;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 50px;
  border: 2px solid #001f3f;;
  font-family: Montserrat-Bold;
}

.tag:hover {
  background-color: #001f3f;
  cursor:pointer;
  color: white;
}

.tag > a {
  color: #001f3f;
  text-decoration: none;
}

.tag:hover > a {
  color: white;
  text-decoration:none;
  cursor:pointer;
}



